* {
    margin: 0;
    padding: 0;
}
.app {
    width: 900px;
    margin: 15px auto;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: lightgray solid 1px;
    padding: 15px;
    margin-bottom: 15px;

}
.post_body  {

}

.post_btn {}
.post_title{}
.posts h1 {
    padding-bottom: 15px;
}
.postFilter {
    margin-bottom: 15px;
}
.postFilter div {
    padding-bottom: 15px;
}
.post__item-enter {
    opacity: 0;
}
.post__item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post__item-exit {
    opacity: 1;
}
.post__item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}